*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'open sans';   
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/*Header*/
header{
    width: 100%;
    height: 600px;
    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(55, 100%, 95%, 0.452), hsla(208, 100%, 33%, 0.644)), url(../img/logo-buap.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsl(56, 100%, 95%,0.452), hsl(208, 100%, 33%,0.644)), url(../img/logo-buap.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}



header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.textos-header h1{
    font-size: 50px;
    color: #fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contenedor-objetivo{
    display: flex;
    justify-content: space-evenly ; 
}

.imagen-about-us{
    float: auto;
    width: 23%;
}

.objetivo .contenido-textos{
    text-align: center justify;
    width: 48%;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/*Integrantes*/

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #4d0686;
    display: flex;
    width: 30%;
    height: 150px;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 70%;
    color: #fff;
}

.cards .card > .contenido-texto-card p{
    font-weight: 700;
    padding-top: px;
}

/*Tabla de actividades*/

.contenedor-actividades{
    background: #f2f2f2;
}

#actividades {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #actividades td, #actividades th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #actividades tr:nth-child(even){background-color: #f2f2f2;}
  
  #actividades tr:hover {background-color: #ddd;}
  
  #actividades th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

  /*footer*/
  footer{
      background: #414141;
      padding: 60px 30px 0;
      margin: auto;
      overflow: hidden;
  }

  .contenedor-footer{
      display: flex;
      width: 90%;
      justify-content: space-evenly;
      margin: auto;
      padding-bottom: 50px;
      border-bottom: 1px solid #ccc;
  }

  .content-foo{
      text-align: center;
  }

  .content-foo h4{
      color: #fff;
      border-bottom: 3px solid #af20d3;
      padding-bottom: 5px;
      margin-bottom: 10px;
  }

  .content-foo p{
      color: #ccc;
  }